
<!DOCTYPE html>
<html>
<head>
	<!-- metaTags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="container">
    <div class="card card-body">
    {% include "tools/meta/main.html"  %}
    {% include "tools/editor/main.html"  %}
    </div>
    <footer class="card">
        <section class="card-body" id="credits">
        <h2>Credits: </h2>
        <p>Make with love by <a href="https://github.com/pericodes">Pericodes</a></p>
        </section>
    </footer>
</body>
</html>